# Python Basics

## A code Sample

In [13]:
x = 34 - 23 # A comment.
y = 'Hello' # Another one.
z = 3.45
print(x,y,z)

11 Hello 3.45

In [14]:
if z == 3.45 or y == 'Hello':
    x = x + 1
    y = y + ' World!' # String concat.
print(x)
print(y)

12
Hello World!

## Formatted Print

In [29]:
print('Formatted number % 10d and formatted floating number %10.3f'%(120,25.12456))
print('Formatted number % 10.3o'%(25))
print('Formatted number % 10.3E'%(25.12456))

Formatted number        120 and formatted floating number     25.125
Formatted number        031
Formatted number  2.512E+01

In [38]:
print('I love {} for "{}!"'.format('Python', 'Programming')) 
print('I love {1} using "{0}!"'.format('Python', 'Programming'))

I love Python for "Programming!"
I love Programming using "Python!"
Second argument:         11, first one:      47.42

In [41]:
print("First argument: {:10.2f}, Second one: {:10d}". format(47.42, 11)) 
print("Second argument: {1:10d}, first one: {0:10.2f}". format(47.42, 11))

First argument:      47.42, Second one:         11
Second argument:         11, first one:      47.42

In [48]:
str = "Pyth'ons"
str

"Pyth'ons"

##  Whitespace
- No {} used for creating block in python 
- Rather use intendation ( use ctrl + ] and ctrl + [ )
- Use \ when must go to next line prematurely

In [50]:
if z == 3.45 or \
y == 'Hello':
    x = x + 1
print(x)

13

## Multiple Assignment

In [53]:
x,y = 2,3
print(x)
print(y)

2
3

In [85]:
x,y = 2,3
x,y = y,x
print(x,y)

3 2

## Understanding Reference

In [57]:
x = 3
y = x
y = 4
print(x)

3

In [60]:
x = [1,2,3]
y=x
y.append(4)
print(x)

[1, 2, 3, 4]

# Sequence Types
- Tuple
- Strings
- List

In [64]:
# Tuples are defined using parentheses (and commas).
tu = (23, 'abc', 4.56, (2,3), 'def')

# Lists are defined using square brackets (and commas).
li = ["abc", 34, 4.34, 23]

# Strings are defined using quotes (“, ‘, or “““).
st1 = "Hello World"
st2 = 'Hello World'
st3 = """This is a multi-line
string that uses triple quotes."""

## Positive and negative Indexing

In [69]:
tu[-1]

'def'

## Slicing

In [70]:
tu[1:-1]

('abc', 4.56, (2, 3))

## Copying List

In [73]:
tu2 = tu[:]
tu2

(23, 'abc', 4.56, (2, 3), 'def')

## The 'in' operator

In [75]:
5 in tu

False

## The '+' Operator

In [76]:
(1,2,3) + (4,5,6)

(1, 2, 3, 4, 5, 6)

In [78]:
"Hello" + " " + "World"

'Hello World'

## The '*' Operator

In [80]:
(1,2,3) * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

## Operation On List

In [83]:
li = [1, 11, 3, 4, 5]   
li.append('a') # Our first exposure to method syntax
li

[1, 11, 3, 4, 5, 'a']

In [84]:
li.insert(2, 'i')
li

[1, 11, 'i', 3, 4, 5, 'a']

## The extend method vs the + operator

In [87]:
li = [1, 2, 3, 4, 5] 
li = li + [6,7,8]
li

[1, 2, 3, 4, 5, 6, 7, 8]

In [88]:
li = [1, 2, 3, 4, 5] 
li.extend([6,7,8])
li

[1, 2, 3, 4, 5, 6, 7, 8]

The extend method vs the append

In [89]:
li = [1, 2, 3, 4, 5] 
li.append([6,7,8])
li

[1, 2, 3, 4, 5, [6, 7, 8]]

## Other list operations

In [94]:
li = [4,2,8,3,2,1,2] 
li.index(2) # index of first occurrence

1

In [95]:
li.count(2) # index of first occurrence

3

In [97]:
li.remove(2) #remove first occurrence
li

[4, 8, 3, 1, 2]

In [98]:
li.reverse() # reverse the list *in place*
li

[2, 1, 3, 8, 4]

In [99]:
li.sort() # sort the list *in place*
li

[1, 2, 3, 4, 8]

## List vs. Tuple

In [103]:
tu = tuple([4,2,8,3,2,1,2])
li = list(tu)
print(tu)
print(li)

(4, 2, 8, 3, 2, 1, 2)
[4, 2, 8, 3, 2, 1, 2]

# Dictionaries

In [105]:
d = {'user':'bozo', 'pswd':1234}
d

{'user': 'bozo', 'pswd': 1234}

In [106]:
print(d['user'])
print(d['pswd'])

bozo
1234

In [112]:
d = {'user':'bozo', 'pswd':1234, 'i':34}
d

{'user': 'bozo', 'pswd': 1234, 'i': 34}

In [113]:
del d['user'] # delete user
d

{'pswd': 1234, 'i': 34}

In [114]:
d.clear()  # remove all elements
d

{}

In [120]:
d = {'user':'bozo', 'pswd':1234, 'i':34}
print(d.keys()) # List of keys
print(d.values()) # List of values
print(d.items()) # List of item tuples.

dict_keys(['user', 'pswd', 'i'])
dict_values(['bozo', 1234, 34])
dict_items([('user', 'bozo'), ('pswd', 1234), ('i', 34)])

# Control of Flow

In [148]:
x=5 

if x == 3:
    print("X equals 3.")
elif x == 2:
    print("X equals 2.")
else:
    print("X equals something else.")
    
print("This is outside the ‘if’.")

X equals something else.
This is outside the ‘if’.

# While loops

In [125]:
count = 0
while (count < 3):
    count = count + 1
    print("Hello Geek") 
#else:
#    print('Loop ended')

Hello Geek
Hello Geek
Hello Geek

# For Loops

In [126]:
n = 4
for i in range(0, n): 
    print(i)

0
1
2
3

In [127]:
n = 4
for i in range(n): 
    print(i)

0
1
2
3

In [137]:
# Iterating over a list 
li = ["a", "b", "c"] 
for i in li: 
    print(i)

a
b
c

In [136]:
# Iterating over a tuple 
tu = ["a", "b", "c"] 
for i in tu: 
    print(i)

a
b
c

In [135]:
# Iterating over a dictionalry 
d = {"a":1, "b":2, "c":3}
for i in d: 
    print(i, d[i])

a 1
b 2
c 3

In [134]:
# Iterating over a string 
str = 'Hello World!'
for ch in str: 
    print(ch)

H
e
l
l
o

W
o
r
l
d
!

In [138]:
for i in range(1, 5): 
    for j in range(i): 
         print(i, end=' ') 
    print()

1
2 2
3 3 3
4 4 4 4

# Functions

In [151]:
def func(a, b, c=10, d=100):
    print(a, b, c, d)
    return a * b * c * d
    
func(1,2,3)

1 2 3 100

600

# Classes and Objects

In [166]:
class atom(object):
    def __init__(self,atno,x,y,z):  # Constructor
        self.atno = atno
        self.position = (x,y,z)
    def atom_no(self):              # a class method
        return self.atno
    def __repr__(self):             # overloads printing like java toString
        return '%d %10.4f %10.4f %10.4f' %(self.atno, self.position[0],self.position[1],self.position[2])

In [167]:
at = atom(6,0.0,1.0,2.0)
print(at)
at.atom_no()

6     0.0000     1.0000     2.0000

6

In [196]:
class molecule:
    def __init__(self,name='Generic'):
        self.name = name
        self.atomlist = []
        
    def addatom(self,atom):
        self.atomlist.append(atom)
        
    def __repr__(self):
        str = 'This is a molecule named %s\n' % self.name
        str = str+'It has %d atoms\n' % len(self.atomlist)
        for atom in self.atomlist:
            str = str + repr(atom) + '\n'
        return str

In [197]:
mol = molecule('Water')
at = atom(8,0.,0.,0.)
mol.addatom(at)
mol.addatom(atom(1,0.,0.,1.))
mol.addatom(atom(1,0.,1.,0.))


print(mol)

This is a molecule named Water
It has 3 atoms
8     0.0000     0.0000     0.0000
1     0.0000     0.0000     1.0000
1     0.0000     1.0000     0.0000